.customButton {
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    background-color: #282c34;  
    color: #fff;  
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 2vw;
}

.customButton:hover {
    background-color: green;
}

.buttonIcon {
    margin-right: 8px;
}

.buttonText {
    font-size: medium;
}