$button-bg-color: #282c34;
$button-hover-bg-color: green;
$button-text-color: #fff;

.customButton {
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    background-color: $button-bg-color;  
    color: $button-text-color;  
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 2vw;

    &:hover {
        background-color: $button-hover-bg-color;
    }

    .buttonIcon {
        margin-right: 8px;
    }

    .buttonText {
        font-size: medium;
    }
}