$primary-color: green;
$secondary-color: #61dafb;
$background-dark: #282c34;
$background-light: rgba(255, 255, 255, 1);
$logo-animation: App-logo-spin infinite 20s linear;

.App {
  display: flex;
  width: 100%;
  
  &-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  &-header {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #667081;
    flex-direction: row;
    justify-content: space-between;
  }

  &-link {
    color: $secondary-color;
  }

  &-right-section {
    background-color: $background-light;
    height: 100vw;
    display: flex;
    flex-direction: column;

    &.expanded {
      margin-left: 2.4vw;
      width: 95%;
    }
  }

  &-left-section {
    width: 22%;
    top: 0;
    bottom: 0;
    display: flex;
    background-color: $background-dark;
    position: fixed;
  }

  &-LeftSection1 {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  &-LeftSection2 {
    transition: all 0.3s ease-in-out;
    background-color: $background-light;
    width: 10%;

    &.collapsed {
      position: absolute;
      left: 0;
    }
  }

  &-panel {
    margin: 1vw;
  }
}

.click-svg-container {
  position: fixed;
  top: 10px;
  transition: left 0.3s ease;
  z-index: 10;
}

.title {
  font-size: 35px;
  color: $primary-color;
}

.click-svg {
  width: 40px;
  height: 40px;
  margin-right: 1vw;
  margin-top: 2vw;
}

.buttonBack {
  background-color: red;
}

.divButton {
  margin-top: 1vw;
}

.panel {
  display: none;

  &.open {
    display: block;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: $logo-animation;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 600px) {
  .panel {
    display: none;
  }
}