// Variables
$gap-large: 3.5vw;
$margin-standard: 3vw;
$margin-small: 15px;
$font-standard: 16px;
$line-height-standard: 22px;
$strong-weight: 800;
$regular-weight: 400;
$icon-size: 30px;
$color-black: #000000;
$color-grey: #667081;

.address-component {
  display: flex;
  flex-direction: column;
  gap: $gap-large;
  align-items: flex-start;
  margin-top: $margin-standard;
  margin-right: $margin-standard;
  margin-left: $margin-standard;
}

.address-icon {
  width: $icon-size;
  height: $icon-size;
  margin-right: $margin-small;
}

.address-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.address-text {
  font-family: Arial, sans-serif;
  font-size: $font-standard;
  line-height: $line-height-standard;
  color: $color-black;
  margin-left: $margin-standard;
  font-weight: $strong-weight;

  p {
    margin: 0;
  }
}

.NameLink {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.greyText {
  color: $color-grey;
  font-size: $font-standard;
  font-weight: $regular-weight;
  line-height: 0.1px;
}