.boxWrapper {
    border: 1px;
    padding-top: 16px;
    margin: 16px 0;
    margin-right: 3vw;
    margin-left: 3vw;
}

.boxTitle {
    font-size: 35px;
    margin-bottom: 2vw;
    margin-top: 3vw;
    color: green; 
}

.boxContent {
    font-size: 18px;
    color:  #222935;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}