$active-color: green;
$icon-size: 30px;
$mobile-screen: 600px;

.navigation {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 1vw;
  
  .nav-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    margin: 1vw;
    
    .icon {
      margin-right: 10px;
    }

    &.active {
      font-weight: bold;
      color: $active-color;
    }
  }
  
  .nav-label {
    display: flex;
    display: inline-block; 

    &.active {
      font-weight: bold;
      color: $active-color;
    }
  }

  .icon {
    margin: 0;

    &-svg {
      width: $icon-size;
      height: $icon-size;
      margin-right: 1vw;
    }
  }

  .label-class {
    display: block;
  }
}

@media (max-width: $mobile-screen) {
  .label {
    &.active {
      display: none;
    }
  }

  .nav-label {
    display: none;
  }
}