.grid-item {
    position: relative;
    overflow: hidden;
  }
  
  .text-container {
    position: absolute;
    bottom: -100%; 
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    color: #fff;
    transition: bottom 0.3s; 
  }
  
  .grid-item:hover .text-container {
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0
  }

  .portfolioDiv {
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
    margin-right: 3vw;
    margin-left: 3vw;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw; 
    margin-top: 1vw;
}


  .PortfolioImage {
    width: 24vw;
  }

  .PortfolioTitle {
    font-size: 35px;
    margin-bottom: 2vw;
    margin-top: 3vw;
    color: green;
  }

  .titleText {
  font-size: 25px;
  font-weight: bold;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin: 1vw;
  color: green;
  }

  .describeText {
  font-size: 20px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin: 1vw;
  color: black;
  }

  .linkText {
  font-size: 22px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin: 1vw;
  color: green;
  }


  .portfolio-filters {
    display: flex;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
  }
  
  .portfolio-filters button {
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    margin-right: 10px;
    font-weight: bold;
    color: #333;
    transition: border-color 0.3s;
  }
  
  .portfolio-filters button:hover, 
  .portfolio-filters button:focus {
    border-bottom: 2px solid #f00;  
  }
  
  .hidden {
    display: none;
  }