.info-container {
  position: relative;
  width: 100%;
  height: 100vh;  
}

.info-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.info-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.info-image {
  width: 150px; 
  border-radius: 50%;
}

.info-title {
  margin-top: 20px;
  font-size: 52px;
  color: white; 
}

.info-text {
  margin-top: 1px;
  font-size: 34px;
  color: white;  
}

.info-description {
  margin-top: 10px;
  font-size: 18px;
  color: white;  
  text-align: center;
  width: 35vw;
}

.info-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #222935; 
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s;
}

.info-button:hover {
  background-color: green; 
}